/* 

Stine:
LogIn 
Profile


TODO Make variable for main color
TODO Make variable for standard font
TODO Make website responsive
TODO Create global CSS

OBS! skriv ny css i kommentar før du pusher på denne siden!
*/

/* Creates variables */
:root{
    --brandColor: #5FA4E5;
    --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --textColor: #212121;
    --accentTextColor: white;
}

body {
    font-family: var(--font);
    margin:0;
    overflow: hidden;
}
